---
title: History
---

<div class="content">


	<section>
		<div class="container flex">
			<div class="text editable">
			
				<p>In 1945 the construction of our old utopia was in process after 10 years of construction the building was officialy opened by Ben.H CEO of sam's utopia, over 50 yrs ago.</p><p>60 yrs later in 2005 CEO Sam.H saw that there was need for improvement.His team led by chief desinger James.S constructed a plan for a new building that went into action in 2009 almost 5 years after Sam.H annoucned the plan to take down the utopia.</p> <p> 12 yrs later in 2021 the utopian community was finnaly finished.</p>
				<p> </p>
			</div>
			
		</div>
	</section>

	<!--section>
		<div class="container flex">
			<div class="text editable">
				<h2>this is empty</h2>
				<p>this is text</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section-->

</div>


<!--div class="text-container">
	<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
	<ul class="blog-posts">
		{% include list-posts.html posts=paginator.posts %}
	</ul>

	{% if paginator.total_pages > 1 %}
		
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</div-->
